/*justify-content: center; flex-content, flex-end, center, space-between, space-arround*/
/*align-items: center; flex-start, flex-end, center, stretch, baseline*/
/*flex-direction: row; row, column, row-reverse, column-reverse*/


body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: arial, sans-serif;
    font-size: 13px;
    background-color: #202124;
    color: #AEC1BB;
}

a {
    all: unset;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

button{
    all:unset;
    cursor: pointer;
}
.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


/*styles de arriba*/
.arriba {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 5vh;
    width: 100vw;

}

.arribaIzq {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    width: 30vw;
}

.sobreGoogle {
    font-size: 14px;
    margin: 0 .5em 0 1em;
}

.tienda {
    font-size: 14px;
    margin: 0 .5em;
}

.arribaCent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 40vw;

}

.gmail{
    padding-left: 1em;
}

.imagenes {
    padding-left: 1em;
    padding-right: 1em;
}

.appGoogle {
    margin: .5em;
    padding: .6em;
    height: 1em;
    width: 1em;
    background-image: url(../img/appsGoogle.jpg);
    background-size: cover;
}

.perfil {
    height: 1em;
    width: 1em;
    padding: .6em;
    margin-right: .5em;
    background-image: url(../img/yo.png);
    background-size: cover;
}

.arribaDer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    width: 30vw;

}

/* styles del centro */
.centro {
    display: flex;
    height: 84vh;
    width: 100vw;

}

.centroIzq {
    display: flex;
    height: 84vh;
    width: 30vw;

}

.centroCent {
    display: flex;
    height: 84vh;
    width: 40vw;

    flex-direction: column;
}

.logo{
    height: 22em;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

img {
    height: 6.75em;
    width: 19em;
}

.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25em;
    width: 38vw;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 3.5em;
    border: 1px solid #AEC1BB;
    border-radius: 5em;
}

.barra:hover {
    background-color: #303134;
}

.lupa {
    display: flex;
    padding-left: 1em;
}

.tamañoLupa {
    display: flex;
    height: 1.25em;
    width: 1em;
}

.barraEspacio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.74em;
    width: 35vw;
}

.micro {
    display: flex;
    padding-right: 1em;
}

.tamañoMicro {
    display: flex;
    height: 2em;
    width: 2em;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.6em;
    width: 35vw;
    margin-top: 1.1em;
    color: #e8eaed;
}

.buscar {
    width: 9.1em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em .45em;
    padding: 0 1em;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
}

.buscar:hover {
    border: 1px solid grey;
}

.suerte {
    width: 9.1em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em .45em;
    padding: 0 1em;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
}

.suerte:hover {
    border: 1px solid grey;
}

.idioma {
    display: flex;
    height: 1.7em;
    width: 40vw;
    align-items: center;
    justify-content: center;

}

.idioma1 {
    padding: .5em;
    color: #8ab4f8;
}

.centroDer {
    display: flex;
    height: 84vh;
    width: 30vw;

}

/* styles de abajo*/
.abajo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
}

.abajoTop {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background-color: #171717;
    font-size: 15px;
    color: #9AA0A6;
    box-sizing: border-box;
    padding: 1.8em;
    border-bottom: 1px solid #212327;
}

.abajoBot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    font-size: 14px;
    background-color: #171717;
    padding: 1em;
    box-sizing: border-box;
    color: #9AA0A6;
}

.abajoBotIzq {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    width: 30vw;
}

.public {
    padding: 1em;
}

.empresa {
    padding: 1em;
}

.comoFunciona {
    padding: 1em;
}

.abajoBotCent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 40vw;
}

.abajoBotDer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    width: 30vw;
}

.privacidad {
    padding: 1em;
}

.terminos {
    padding: 1em;
}

.config {
    padding: 1em;
}

